<!DOCTYPE html>
<html lang="en">
<!--Author : Rakibul Islam-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
<style>
* {
    margin: 0;
}

body {
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
}
/* Design for img and profile */
.sidenav {
    position: absolute;
    top: 130px;
    width: 350px;
    background-color: #fff;
    border-radius: 48px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 40px 10px 20px 5px;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url, hr {
    text-align: center;

}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e66d45;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}
.cvbtn {
    background-color: #457de6;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
/* Main Table Design */
.main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
    position: relative;

}

.main h2 {
    color: #333;
    margin-bottom: 16px;
    text-align:left; font-size:24px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:100;

}

.main .card {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    max-width: 700px;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 200px;
    width: 60%;
}
h1{
            text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
        }
        
.topright {
  position: absolute;
  top: 22px;
  right: 176px;
  font-size: 18px;
}
</style>
</head>
<body>
        <div class="title">
            <br><h1>Profile</h1><br><hr>
        </div>
    <div class="sidenav">
        <div class="profile">
            <img src="https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-18-512.png" alt="" width="100" height="100">

            <div class="name">
                <%= data.firstName + ' ' +data.lastName%>
            </div>
            <!-- <div class="job">
               Font-End Developer
            </div> -->
        </div>

        <div class="sidenav-url">
            <div class="url">
                <button class="cvbtn" onclick="printDiv()">Download CV</button>
                <a class="active" href="/jobseeker/deleteuser">Delete</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <div class="main">
      
        <div class="card">
            <div class="card-body" id="card-body">
                
                <table>
                    <tbody>
                            <tr>
                                <h2>Basic Information</h2><div class="topright">
                            <td>First Name</td>
                            <td>:</td>
                            <td><%= data.firstName %></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>:</td>
                           <td><%= data.lastName %></td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>:</td>
                           <td><%= data.phoneNumber %></td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td><%= data.age %></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td><%= data.address %> </td>
                        </tr>
                        
                    </tbody>
                </table>
                <table>
                    <tbody>
                            <tr>
                               <hr><h2>Other Information</h2><hr>
                            <td>Achievements</td>
                            <td>:</td>
                            <td><%= data.achievements %></td>
                        </tr>
                        <tr>
                            <td>Certificates</td>
                            <td>:</td>
                           <td><%= data.certificates %></td>
                        </tr>
                        <tr>
                            <td>Qualification</td>
                            <td>:</td>
                           <td><%= data.qualification %></td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td>:</td>
                           <td><%= data.skills %></td>
                        </tr>
                        <tr>
                            <td>Experience</td>
                            <td>:</td>
                           <td><%= data.experience %></td>
                        </tr>
            </tbody>
        </table>
        </div>
        </div>
    </div>
    <script>
            function printDiv() {
            var divContents = document.getElementById("card-body").innerHTML;
            var a = window.open('', '', 'height=1080, width=1920');
            a.document.write('<html>');
            a.document.write('<body > <center><h1>Curriculum vitae</center><br>');
            a.document.write(divContents);
            a.document.write("<hr><center><h5>Downloaded from ChainHire</h5></center>")
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>
</body>
</html>