<!DOCTYPE html>
<html lang="en">
<!--Author : Rakibul Islam-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Job List</title>
    <style>
        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th,
        #myTable td {
            text-align: left;
            padding: 16px;
            word-wrap:break-word;
            max-width: 250px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header,
        #myTable tr:hover {
            background-color: #f1f1f1;
        }

        h1 {
            text-align: center;
            font-size: 50px;
            text-transform: uppercase;
            color: #222;
            letter-spacing: 1px;
            font-family: "Playfair Display", serif;
            font-weight: 400;
        }



        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background: #88cfff;
            background-size: 100%;
        }

        a {
            color: rgb(87, 0, 81);
            /* font-weight: bold; */
            text-decoration: none;
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            background: white;
            border-radius: 10px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
        }

        .center h1 {
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid silver;
        }

        #myInput {
            background-image: url('/css/searchicon.png');

            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: auto;
            font-size: 16px;
            padding: 10px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;

            margin: 0 auto;
            display: inline-block;

        }

        .popup {

            width: 400px;
            background: #fff;
            border-radius: 6px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            visibility: hidden;
            transition: transform 0.4s, top 0.4s;


        }

        .open-popup {
            visibility: visible;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
        }

        .popup img {
            width: 100px;
            margin-top: -50px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        }

        .popup h2 {
            font-size: 38px;
            font-weight: 500;
            margin: 30px 0 10px;
        }

        .padding {
            /* position: fixed; */
            bottom: 0;
            width: 100%;
        }
        .table-filter{
            width: 25px;
        }
        .aligncolumnnames{
    
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
    </style>

</head>


<script>

    // Donot delete this , otherwise the search from the homepage will not work.
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/home.html">ChainHire</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/jobseeker/dashboard">Back to Dashboard</a>
              </li>
          </div>
        </div>
      </nav>
    <div class="container">

        <br>
        <h1>Jobs</h1><br><br>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Search" class="m-2" hidden> 
       <table id="myTable" class="content-table">

            <thead>
                <tr class="header">
                <th col-index = 1><div class="aligncolumnnames">Profile Name</div>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index = 2><div class="aligncolumnnames">Age limit </div>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
    
                <th col-index = 3><div class="aligncolumnnames">Company Name</div>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index = 4><div class="aligncolumnnames">Qualification</div> 
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index = 5><div class="aligncolumnnames">Skills </div>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index = 6><div class="aligncolumnnames">Salary </div>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index = 7><div class="aligncolumnnames">Location </div>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index = 8><div class="aligncolumnnames">Experience<br> (years)</div>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th>
                <th col-index = 9>Apply
                   
                </th>
                <th col-index = 10>History
                   
                </th>
                
            </thead>

            <tbody class="table-group-divider">
                <!-- <th>
                    <select class="table-filter" onchange="filter_rows()">
                        <option value="all"></option>
                    </select>
                </th> -->
                <% for(var i=0; i < data.length; i++) { %>
                    <tr>

                        <td>
                            <%= data[i].Record.profilename %>
                        </td>
                        </td>
                        <td>
                            <%= data[i].Record.agelimit %>
                        </td>
                        <td>
                            <%= data[i].Record.companyname %>
                        </td>
                        <td>
                            <%= data[i].Record.qualification %>
                        </td>
                        <td>
                            <%= data[i].Record.skills %>
                        </td>
                        <td>
                            <%= data[i].Record.salary %>
                        </td>
                        <td>
                            <%= data[i].Record.location %>
                        </td>
                        <td>
                            <%= data[i].Record.yearofexperience %>
                        </td>
                        <td>
                            <% if(data[i].Record.hired!='' ){ %>
                                <%= data[i].Record.hired + " is hired" %>
                                    <% } %>

                                        <% if(data[i].Record.hired=='' &&
                                            data[i].Record.appliedCandidates.includes(username)){ %>
                                            Already Applied
                                            <% } %>

                                                <% if(data[i].Record.hired=='' &&
                                                    !(data[i].Record.appliedCandidates.includes(username))){ %>
                                                    <a href=<%="/jobseeker/apply/"
                                                        +data[i].Record.jobpostingId%>>Apply</a>
                                                    <%}%>


                                                        <!-- <div class="container">
                            <button type="apply" class="btn" onclick="openPopup()" value="Apply">Apply</button>
                            <div class="popup" id="popup">
                                <img src="tick.png">
                                <h2>Apply Successful</h2>
                                <p>Thank You</p>
                                <button type="button" onclick="closePopup()">Ok</button>
                            </div>

                        </div> -->
                        </td>
                        <td>
                            <a href=<%="/jobseeker/history/"+data[i].Record.jobpostingId%>>Check</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <script>
        const params = new URLSearchParams(window.location.search)
        console.log(params.get('value'))
        document.getElementById("myInput").value= params.get('value').toString()
        myFunction()
    </script>
    <script>
        let popup = document.getElementById("popup");
        function openPopup() {
            popup.classList.add("open-popup");
        }
        function closePopup() {
            popup.classList.remove("open-popup");
        }

    </script>
    <!-- <div class="padding">
        <div style="margin-top:10%;"></div>
        <script language="javascript" type="text/javascript" src="/header_footer/footer.js"></script>
    </div> -->


 <!-- The section of the code is added by Rakibul Islam for the filters -->
 <script>
    // window.onload = () => {
    //     console.log(document.querySelector("#myTable > tbody > tr:nth-child(1) > td:nth-child(2) ").innerHTML);
    // };

    getUniqueValuesFromColumn()

    function getUniqueValuesFromColumn() {

        var unique_col_values_dict = {}

        allFilters = document.querySelectorAll(".table-filter")
        allFilters.forEach((filter_i) => {
            col_index = filter_i.parentElement.getAttribute("col-index");
            // alert(col_index)
            const rows = document.querySelectorAll("#myTable > tbody > tr")

            rows.forEach((row) => {
                cell_value = row.querySelector("td:nth-child(" + col_index + ")").innerHTML;
                // if the col index is already present in the dict
                if (col_index in unique_col_values_dict) {

                    // if the cell value is already present in the array
                    if (unique_col_values_dict[col_index].includes(cell_value)) {
                        // alert(cell_value + " is already present in the array : " + unique_col_values_dict[col_index])

                    } else {
                        unique_col_values_dict[col_index].push(cell_value)
                        // alert("Array after adding the cell value : " + unique_col_values_dict[col_index])

                    }


                } else {
                    unique_col_values_dict[col_index] = new Array(cell_value)
                }
            });


        });

        // for (i in unique_col_values_dict) {
        //     alert("Column index : " + i + " has Unique values : \n" + unique_col_values_dict[i]);
        // }

        updateSelectOptions(unique_col_values_dict)

    };

    // Add <option> tags to the desired columns based on the unique values

    function updateSelectOptions(unique_col_values_dict) {
        allFilters = document.querySelectorAll(".table-filter")

        allFilters.forEach((filter_i) => {
            col_index = filter_i.parentElement.getAttribute('col-index')

            unique_col_values_dict[col_index].forEach((i) => {
                filter_i.innerHTML = filter_i.innerHTML + `\n<option value="${i}">${i}</option>`
            });

        });
    };


    // Create filter_rows() function

    // filter_value_dict {2 : Value selected, 4:value, 5: value}

    function filter_rows() {
        allFilters = document.querySelectorAll(".table-filter")
        var filter_value_dict = {}

        allFilters.forEach((filter_i) => {
            col_index = filter_i.parentElement.getAttribute('col-index')

            value = filter_i.value
            if (value != "all") {
                filter_value_dict[col_index] = value;
            }
        });

        var col_cell_value_dict = {};

        const rows = document.querySelectorAll("#myTable tbody tr");
        rows.forEach((row) => {
            var display_row = true;

            allFilters.forEach((filter_i) => {
                col_index = filter_i.parentElement.getAttribute('col-index')
                col_cell_value_dict[col_index] = row.querySelector("td:nth-child(" + col_index + ")").innerHTML
            })

            for (var col_i in filter_value_dict) {
                filter_value = filter_value_dict[col_i]
                row_cell_value = col_cell_value_dict[col_i]

                if (row_cell_value.indexOf(filter_value) == -1 && filter_value != "all") {
                    display_row = false;
                    break;
                }


            }

            if (display_row == true) {
                row.style.display = "table-row"

            } else {
                row.style.display = "none"

            }





        })

    }
</script>

</html>