<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Full Profile View</title>
<style>
body{
  height: 130vh;
  background: linear-gradient(to bottom right, rgb(69, 233, 216), rgb(243, 146, 42));
  background-size: 100%;
}
#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr,td{
  border: 2px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
.padding {
            bottom: 0;
            width: 100%;

        }
</style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/home.html">ChainHire</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/hr/dashboard">Back to Dashboard</a>
              </li>
          </div>
        </div>
      </nav>

<div class="container mt-3">
    <table class="content-table" id="myTable">
        <tr class="header">
            <th colspan=2 >Candidate Profile View</th>
        </tr>
        <tr>
            <td>First Name</td>
            <td><%=data.firstName%></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><%=data.lastName%></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><%=data.phoneNumber%></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><%=data.age%></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><%=data.address%></td>
        </tr>
        <tr>
            <td>Achievements</td>
            <td><%=data.achievements%></td>
        </tr>
        <tr>
            <td>Certificates</td>
            <td><%=data.certificates%></td>
        </tr>
        <tr>
            <td>Qualification</td>
            <td><%=data.qualification%></td>
        </tr>
        <tr>
            <td>Experience</td>
            <td><%=data.experience%></td>
        </tr>
        <tr>
            <td>Applications</td>
            <td><%=data.appliedTo%></td>
        </tr>
    </table>
    <div class="container text-center mt-5">
        <a href=<%="/hr/hired/"+ jobpostingId +"/"+ data.jobseekerId%> class="btn btn-primary btn-lg">Hire</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</div>
<div class="padding">
    <div style="margin-top:10%;"></div>
    <script language="javascript" type="text/javascript" src="/header_footer/footer.js"></script>
</div>
</body>
</html>