<!DOCTYPE html>
<html lang="en">
<!--Author : Rakibul Islam-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin All Users</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th,
        #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header,
        #myTable tr:hover {
            background-color: #f1f1f1;
        }

        h1 {
            text-align: center;
            font-size: 50px;
            text-transform: uppercase;
            color: #222;
            letter-spacing: 1px;
            font-family: "Playfair Display", serif;
            font-weight: 400;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background: -webkit-repeating-linear-gradient(75deg, #8eddcf, #7c65a9);
            background-size: 100%;
        }

        a {
            color: rgb(87, 0, 81);
            font-weight: bold;
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            background: white;
            border-radius: 10px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
        }

        .center h1 {
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid silver;
        }

        .padding {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home.html">ChainHire</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/dashboard">DashBoard</a></li>
                    <li><a href="/admin/alljobs">All Jobs <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="/admin/allusers">All Users <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        <br>
        <h1>Users</h1><br>

        <div>
            <h2 style="text-align:center">Total Registered Users : <%=data.length%>
            </h2>
        </div>
        <table class="content-table" id="myTable">

            <thead>
                <tr class="header">
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% for(var i=0; i < data.length; i++) { %>
                    <tr>

                        <td>
                            <%= data[i].Record.jobseekerId %>
                        </td>
                        <td>
                            <%= data[i].Record.firstName %>
                        </td>
                        <td>
                            <%= data[i].Record.lastName %>
                        </td>
                        <td>
                            <%= data[i].Record.age %>
                        </td>
                        <td>
                            <%= data[i].Record.phoneNumber %>
                        </td>
                        <td>
                            <%= data[i].Record.address %>
                        </td>
                        <td>
                            <a href=<%="/admin/deleteuser/" + data[i].Record.jobseekerId %>>Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>
    <div class="padding">
        <script language="javascript" type="text/javascript" src="../header_footer/footer.js"></script>
    </div>
</body>

</html>